/**
 * spinner
 */
.spinner {
  display: inline-block;
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.spinner .fa {
  animation: spin 1s linear infinite;
  margin-right: .25em;
}
